#entete{
  width: 100%;
  height: auto;
  min-height: 150px;
  background-color: #81020B;
  text-align: center;
}
#profil{
  text-align: left;
  float: left;
  width: 25%;
  min-width: 300px;
}
#Titre{
  width: 20%;
  text-align: center;
}

#Titre h1{
  float: left;
  color: white;

  vertical-align: middle;
}
#chapitre{
  width: 100%;
  float: left;
  background-color: grey;
  min-height: 50px;
  vertical-align: middle;
}
.Presentation,.Competences,.Experiences,.Hobbies{
  width: 25%;
  float: left;
  margin: auto;
  position: relative;
  min-width: 200px;
}
.Presentation a,.Competences a,.Experiences a,.Hobbies a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
p, h3{
  text-align: justify;
  padding-left:5%;
  padding-right:5%;
}
ul{
  margin-left:5%;
  margin-right:5%;
  font-family:Impact;
}
body{
  margin:0;
}
h2{
  padding-top:50px;
  text-align:center;
}
#Presentation{
  background-color: #EEEEC6;
  opacity: 0.95;
  width: 100%;
}

#Experiences{
  background-color: #FFF7EE;
  opacity: 0.95;
  width: 100%;
}
#Competences{
  background-color: #F0F8FF;
  opacity: 0.95;
  width: 100%;
}
#Hobbies{
  background-color: #E0DFE7;
    min-height: 400px;
    padding-left: auto;
    padding-right: auto;
    opacity: 0.95;
    width: 100%;
}
.date{
  color:Blue;
  font-weight: bold;
}
.poste{
  font-weight: bold;
}
/*code CSS qui permet de cacher les informations contenu dans l'image */
.info {
   display:none;
   background: #ddd;
   float: left;
   width: 60%;
}
#afficherathle:target .info, #afficherhand:target .info, #afficherpompier:target .info{
   display:block
}
.masquer{
   display:none;
}
#afficherathle:target .masquer, #afficherhand:target .masquer, #afficherpompier:target .masquer{
   display:inline;
}
#afficherathle:target .afficher,  #afficherhand:target .afficher,  #afficherpompier:target .afficher {
   display:none;
}
/* Mis en forme de la partie Hobbies */
#pompier, #athle, #hand{
  float:left;
  width: 33%;
}
#Hobbies a{
  text-decoration: none;
  color: black;
}
#pompier a{
  float: bottom;
}
#athle a{
  float: bottom;

}
#hand a{
  float: bottom;
}
#Hobbies img{
  border-radius: 100px;
}
#afficherathle, #afficherhand, #afficherpompier{
  margin: auto;
}
body{
  background-image: url("../img/gwenhadu.jpg");
  transform:rotate(90);
}
/*permet de supprimer l'espace entre 2 div */
div{
  display: inline-block;
}
