#entete{
  width: 100%;
  height: auto;
  min-height: 150px;
  background-color: #81020B;
  text-align: center;
  background: url("../img/saintmalo.jpg") no-repeat center;
}
#profil{
  text-align: left;
  float: left;
  width: 25%;
  min-width: 300px;
}
#Titre{
  width: 20%;
  text-align: center;
}

#Titre h1{
  float: left;
  color: white;

  vertical-align: middle;
}
#chapitre{
  width: 100%;
  float: left;
  background-color: grey;
  min-height: 50px;
  vertical-align: middle;
}
.Presentation,.Competences,.Experiences,.Hobbies{
  width: 25%;
  float: left;
  margin: auto;
  position: relative;
  min-width: 200px;
}
.Presentation a,.Competences a,.Experiences a,.Hobbies a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
p, h3{
  text-align: justify;
  padding-left:5%;
  padding-right:5%;
}
ul{
  margin-left:5%;
  margin-right:5%;
  font-family:Impact;
}
body{
  margin:0;
}
h2{
  padding-top:30px;
  text-align:center;
  padding-bottom: 30px;
}
#Presentation{
  background-color: #E0DFE7;
  opacity: 0.95;
  width: 100%;
}

#Experiences{
  background-color: #E0DFE7;
  opacity: 0.95;
  width: 100%;
}
#Competences{
  background-color: #E0DFE7;
  opacity: 0.95;
  width: 100%;
}
#Hobbies{
  background-color: #E0DFE7;
    min-height: 400px;
    opacity: 0.95;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
.date{
  color:Blue;
  font-weight: bold;
}
.poste{
  font-weight: bold;
}
/*code CSS qui permet de cacher les informations contenu dans l'image */
.info {
   display:none;
   background: #ddd;
   float: left;
   width: 60%;
}
#afficherathle:target .info, #afficherhand:target .info, #afficherpompier:target .info{
   display:block
}
.masquer{
   display:none;
}
#afficherathle:target .masquer, #afficherhand:target .masquer, #afficherpompier:target .masquer{
   display:inline;
}
#afficherathle:target .afficher,  #afficherhand:target .afficher,  #afficherpompier:target .afficher {
   display:none;
}
/* Mis en forme de la partie Hobbies */
#pompier, #athle, #hand{
  float:left;
  max-width: 33%;
}
#Hobbies a{
  text-decoration: none;
  color: black;
  text-align: center;
}
#Hobbies img{
  border-radius: 100px;
  border: 1px solid black;
}
#afficherathle, #afficherhand, #afficherpompier, #masquerathle, #masquerhand, #masquerpompier{
  margin: auto;
  min-height: 300px;
  min-width: 400px;
}
 #masquerathle, #masquerhand, #masquerpompier{
   margin: auto;
   border: 1px solid black;
   min-height: 300px;
   min-width: 400px;
 }
/*definition de l'image de fond, centrer sans répétition et fixe */
body{
  background: white url("../img/triskel.jpg") fixed no-repeat center;
}
/*permet de supprimer l'espace entre 2 div */
div{
  display: inline-block;
}
#text{
  margin: 0;
}
