#entete{
  width: 100%;
  height: auto;
  height: 150px;
  background-color: #81020B;
  text-align: center;
}
#profil{
  text-align: left;
  float: left;
  margin-bottom: auto;
  width: 25%;
  min-width: 300px;
}
#Titre{
  margin-left: 42%;
  position: relative;
  width: 30%;
  min-width: 300px;
}

#Titre h1{
  float: left;
  color: white;
}
#chapitre{
  width: 100%;
  float: left;
  background-color: grey;
  margin-top: 0;
  max-height: 100px;
}
.Presentation,.Competences,.Experiences,.Hobbies{
  width: 25%;
  float: left;
  margin: auto;
  position: relative;
  min-width: 200px;
}
.Presentation a,.Competences a,.Experiences a,.Hobbies a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
p, h3{
  text-align: justify;
  padding-left:5%;
  padding-right:5%;
}
ul{
  margin-left:5%;
  margin-right:5%;
  font-family:Impact;
}
body{
  margin:0;
}
h2{
  padding-top:50px;
  text-align:center;
}
#Presentation{
  background-color: #EEEEC6;
}

#Experiences{
  background-color: #FFF7EE;
}
#Competences{
  background-color: #F0F8FF;
}
#Hobbies{
  background-color: #E0DFE7;
}
.date{
  color:Blue;
  font-weight: bold;
}
.poste{
  font-weight: bold;
}
/*code CSS qui permet de cacher les informations contenu dans l'image */
.info {
   display:none;
   background: #ddd
}
#afficher:target .info, #afficherhand:target .info{
   display:block
}
.masquer{
   display:none;
}
#afficher:target .masquer, #afficherhand:target .masquer{
   display:inline;
}
#afficher:target .afficher,  #afficherhand:target .afficher {
   display:none;
}
